@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.bg-violate {
  background-color: #6c63ff;
}
.bg-gray-light
{
background-color: #F9F9F9;
}
.text-violate {
  color: #6c63ff;
}

/* Dark-Light-Theme */




/* Light-Theme */
.light .text-1
{
  color: rgb(87, 87, 87);
}
.light .text-2
{
  color: #000;
}
.light .text-3
{
  color: rgb(125, 125, 125);
}
.light .sidebar
{
  background-color: rgba(223, 223, 223, 0.844);
}
.light .dashtab-1
{
  background-color: rgba(245, 245, 245, 0.729);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.light .dashtab-2
{
  background-color: rgba(235, 235, 235, 0.729);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.light .icons
{
  color: rgb(82, 82, 82);
}
.light.themebag
{
  background-color: #ffffff;
}






/* Dark-Theme */
.dark .text-1
{
  color: rgb(224, 224, 224) !important;
}
.dark .text-2
{
  color: rgb(255, 255, 255);
}
.dark .text-3
{
  color: rgb(199, 199, 199);
}
.dark .sidebar
{
  background-color: rgba(49, 49, 49, 0.844);
}
.dark .dashtab-1
{
  background-color: rgba(69, 69, 69, 0.496);
  box-shadow: rgba(114, 114, 114, 0.593) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.dark .dashtab-2
{
  background-color: rgba(69, 69, 69, 0.496);
  box-shadow: rgba(122, 122, 122, 0.06) 0px 2px 4px 0px inset;
}
.dark .icons
{
  color: rgb(171, 171, 171);
}
.dark.themebag
{
  background-color: #28262e;
}

