
.msglist
{
    overflow-y: scroll;
    height: 40vh;
}
.shareLink input
{
outline: none;
border: none;
}
.qnotimask 
{
    transition: all ease-in-out;
}
.minheight
{
  min-height: 150px;
}
.impBox {
  border: 1px solid rgb(135, 135, 135);
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  font-size: 1.5em;
}
.btn {
  padding: 8px 20px;
  font-size: 1.2em;
  border-radius: 10px;
}
.parabox {
  border: 1px solid rgb(135, 135, 135);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.2em;
  resize: none;
  outline: none;
}
span
{
  font-size: .6em;
  text-align: center;
  padding: 5px 0;
}
.loaderscreen
{
  backdrop-filter: blur(6px);
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.862);
}
.sidebar li
{
  font-size: 1.2em;
  font-weight: 500;
  margin: .7em 0;
}
.msgtime
{
    font-size: .5em;
}

